name: my calling workflow
on: push

jobs:
  main_workflow_job:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@master
        - name: call reusable workflow in other repo
          uses: maheshkamthe/called-workflow@main
          with:
            first-name: mahesh
        - name: call reusable workflow in same repo
          uses: /.github/workflows/my-called-action.yml@main
          with:
            first-name: mahesh


